<div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
    {{this.nombre}}
    <div class="card h-100">
        <div class="imagen">
            <img class="card-img-top imagen" src= {{unProducto.foto}} alt={{nombre}} />
        </div>
        <div class="card-body align-items-end">
            <h5 class="card-title">{{unProducto.nombre}}</h5>
            <p class="card-text">Precio: ${{precio}}</p>
            <a href="/detalle/ ">
                <button class="btn btn-primary indigo">Ver detalles</button>
            </a>
        </div>
    </div>
</div>